@using Web1.Models.HeaderModels
<header>
    <nav>
        <ul>
            @if (User.IsInRole("3"))
            {
                @foreach (var menuItem in ListData.ClientMenuItems)
                {
                    <li><a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">@menuItem.Text</a></li>
                }

            }
            @if (User.IsInRole("2"))
            {
                @foreach (var menuItem in ListData.EmployeeMenuItems)
                {
                    <li><a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">@menuItem.Text</a></li>
                }
            }
            @if (User.IsInRole("1")){
                @foreach (var menuItem in ListData.AdminMenuItems)
                {
                    <li><a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">@menuItem.Text</a></li>
                }
            }

        </ul>
    </nav>
    <div class="logo">
        <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.jpg" height="25px" /></a>
    </div>
    <div class="exit">
        @if (User.IsInRole("3"))
        {
            <nav align="right">
                <ul>
                    <li><a asp-controller="Home" asp-action="Order">КОРЗИНА</a></li>
                </ul>
            </nav>}
        @if (User.IsInRole("2") | User.IsInRole("3"))
        {
            <nav align="right">
                <ul>
                    <li><a asp-controller="Authorize" asp-action="Profile"><img src="~/images/profile.jpg" height="25px" /></a></li>
                </ul>
            </nav>
        }
    <nav>
        <ul>
            <li><a asp-controller="Authorize" asp-action="Logout"><img src="~/images/exit.png" height="25px" /></a></li>
        </ul>
    </nav>
    </div>
    
</header>
